<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExpenseTracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div style="font-size: 50px; text-align:center; color: rgb(226, 181, 67);">SIGN UP BELOW TO CREATE ACCOUNT</div>
    <br>
    <div class="center"><button class="btn btn-block btn-info" style="position: absolute;"><a href="signup">SINGUP</a></button></div>
    <footer style="margin-top: 50px; text-align: center; color: salmon; font-weight: bold;">Already have account? <a href="login">login</a> here </footer>
</body>
</html>