<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>titles</title>
</head>
<body>
    <div class="col-lg -5">
        <a href="login">LOGIN</a>
        <br>
        <a href="signup">SIGNUP</a>
        <br>
        <a href="Dashboard">DASHBOARD</a>
        <br>
        <a href="RenderIncome">INCOME</a>
        <br>
        <a href="RenderExpense">EXPENSE</a>
        <br>
        <a href="ShowIncome">SHOW INCOME</a>
        <br>
        <a href="ShowExpense">SHOW EXPENSE</a>
    </div>
    <DIV class="col-lg -7">
        <h2 style="color: green;">WELCOME</h2>
    </DIV>
</body>
</html>